{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == 'admin_genre_ajout' %}
        Ajouter Genre
    {% else %}
        Modifier Genre
    {% endif %}
{% endblock %}

{% block content %}
    <section class="form formstyle">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 mx-auto mbr-form">
                    <!--Formbuilder Form-->
                    {{ form_start(form) }}
                    <div class="dragArea form-row">
                        {% if app.request.attributes.get('_route') == 'admin_genre_ajout' %}
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h5 class="mbr-fonts-style pb-2 display-2">Ajouter un Genre</h5>
                            </div>
                        {% else %}
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h5 class="mbr-fonts-style pb-2 display-2">Modifier un Genre</h5>
                            </div>
                        {% endif %}
                        <div class="col-lg-12 col-md-12 col-sm-12" data-for="genre">
                            {{ form_row(form.grName, {'attr': {'class': 'form-control display-7','placeholder': 'Genre'}}) }}
                        </div>
                        <div class="col-auto m-auto pt-5"><button type="submit" class="btn btn-submit display-7">ENVOYER</button></div>
                    </div>
                    {{ form_end(form) }}
                    <!--Formbuilder Form-->
                </div>
            </div>
        </div>
    </section>
{% endblock %}