#bootstrap-overrides .header-banner{
    position: relative;
    height: 350px;
    width: 100%;
    z-index: -1000;
    object-fit: cover;
    filter: brightness(75%);
}
.display-5{
    font-size: calc(1.1rem + 2.1vw);
    text-transform: uppercase;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}
 .banner-change{
     background-color: var(--blue-emrald);
     width: 50px;
     height: 50px;
     border-radius: 100%;
     margin-top: -25px;
     margin-right: 30px;
     border: 1px solid #fff;
 }
.box-profil{
    margin: -100px auto 50px auto;
    padding: 10px;
    height: 175px;
    width: 70%;
    background-color: var(--manatee);
}

.photo{
    width: 125px;
    height: 125px;
    padding: 0;
    border-radius: 100px;
    border: 3px solid var(--blue-emrald);
    position: relative;
}

.photo >.pull-right{
    padding-left: 10px;
}
.outer {
    width: 100% !important;
    height: 100% !important;
    max-width: 125px !important; /* any size */
    max-height: 125px !important; /* any size */
    margin: 12px auto auto;
    background-color: var(--blue-emrald);
    border-radius: 100%;
    position: relative;
}
.inner {
    background-color: var(--blue-emrald);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.inner:hover {
    background-color: var(--sage-green);
}
.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
}
.inputfile + label {
    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    pointer-events: none;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}

#nav-account {
    display: inline-flex;
    flex-direction: column;
    /*align-items: baseline;*/
}

#nav-account {
    cursor: pointer;
    font-size: 13pt;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #888;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(201,111,70);

}
.nav-item-account{
    /*margin: 40px 30px 0 10px;*/
    /*margin: 24px 41px;*/
    /*padding: 0px 42px;*/
    /*text-align: center;*/
    margin: 4px 6px 0px 8px;
    /* margin: 24px 41px; */
    padding: 15px 10px 12px 12px;
    /* text-align: center;*/
}
#nav-account .nav-item-account a {
display: block;
position: relative;
padding: 0.2em 0;
}

/* Fade in */
#nav-account .nav-item-account a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 0.1em;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

#nav-account .nav-item-account a:hover::after,
#nav-account .nav-item-account a:focus::after {
    opacity: 1;
    color: rgb(232,194,176);
    transform: translate3d(0, 0.2em, 0);
}

/*--------------------------------------------------------------
    DISPLAY BOX
--------------------------------------------------------------*/
#coor,#mquizz,#mscore,#mcritk, #validquizz, #createdrama{
    display: none;
}
#coor:target,#mscore:target,#mcritk:target, #createdrama:target{
    display: contents;
}
#mquizz:target, #validquizz:target{
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------------------------
	QUIZZ BOX
--------------------------------------------------------------*/
.gallery  {
    margin-top: 35px;
}

.gallery div {
    margin-bottom: 30px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}
.gallery img:hover {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    filter: brightness(75%);
}

/*--------------------------------------------------------------
	COMMENTS
--------------------------------------------------------------*/
.comment {
    background-color: rgb(232,194,176);
    padding: 30px;
    margin: 15px 0;
}

.comment > .pull-left {
    margin-right:20px;
}

.comment img {
    max-width:106px;
    border-radius: 50%;
}

.comment h4 {
    margin:0 0 10px;
}

.comment p {
    margin-bottom:15px;
    text-align:justify;
}

.comment-detail {
    margin:0;
}

.comment-detail {
    color: var(--sage-green);
    font-size:12px;
    padding-right: 10px;
    font-weight:600;
}

.comment-detail a:hover {
    text-decoration:underline;
}

.comment-detail  i {
    color: var(--sage-green);
    font-size:15px;
    margin-right:10px;
    margin-left: 10px;
}