#bootstrap-overrides .header-banner{
    position: relative;
    height: 350px;
    width: 100%;
    z-index: -1000;
    object-fit: cover;
    filter: brightness(75%);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}
.container {
    margin-top: 20px;
}

section{
    Margin-top:5vh;
}

.button-group {
    margin-bottom: 20px;
}
.counter {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}

.counterCritik {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}