html,body{
    height:100%;margin:0;
}

.search__container{
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    margin: 0px 8px 7px 0px;
    padding: 7px 9px 0px 9px;
    border: 3px solid var(--blue-emrald);
    border-radius: 25px;
    transition: all 200ms ease;
    cursor: text;
}

.sidenav {
    margin-left: 660px;
    margin-top: 20vh;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--wafer-dark);
    overflow-x: hidden;
}

.sidenav a{
    color: var(--lightbrown);
    padding: 32px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    text-decoration: none;
    display: block;
}

#bootstrap-overrides .sidenav a:hover {
    background-color: var(--tuscany);
    color: black;
}