#quizzbox{
    color: black;
    font-family: Calibri;
    margin: 100px 40px;
}

#quizzbox:before, #quizzbox:after{
    content: "";
    bottom  : 0;
    height  : 1px;
    width   : auto;  /* or 100px */
    border-bottom:4px solid indianred;
}

.playcolor{
    color: darkslategrey;
}


.img-top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://dramatik/images/iontbobanner.jpg");
    height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: .5px solid black;
}


.apercu{
    justify-content: space-evenly;

}

.apercu .card{
    width: 19rem;
    min-height: fit-content;
    position: relative;
    max-width : 300px;
    height : 215px;
    background-color: indianred;
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rosybrown;
    transition : 0.3s ease-in-out;
    border-radius : 15px;

}

.apercu .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    top : -40%;
    bootom:0;
    margin: auto;
    z-index : 1;
}
.apercu .card .image img{
    max-width : 100%;
    border-radius : 15px;
 }


.apercu .card-title{
    position: relative;
    padding:10px !important;
    top: -30%;
    visibility: hidden;
    text-align: center;
}

.apercu .card-title a{
    font-size: 25px !important;
    font-style: italic ;
}
.apercu .card:hover {
    height : 250px;
}

.apercu .card:hover .card-title {
    visibility: visible;
    transition : 0.3s ease-in-out;
}

.row .col{
    width: auto;
}
.deck{
    justify-content: space-evenly;
    margin-top: 5rem;
}

.deck .card{
    width: 19rem;
    min-height: fit-content;

}.deck .card img{
     height: 19rem;
     object-fit: cover;

 }

.deck >.card-body{
    padding:10px !important;
}
.deck .card-img-overlay{
    visibility: hidden;
}
.deck .card:hover .card-img-overlay{
    visibility: visible;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    color: thistle;
    text-align: center;
    padding: 30% 0;
    transition : 0.2s ease-in-out;
}
.deck .card-img-overlay>a{
    font-size: 50px;
    color: thistle !important;
    font-weight: lighter !important;
}


.taille{
    display: none !important;
}

.taille:first-child{
    display: flex !important;
}
.taille label{
    text-transform: capitalize;
}
#choix, .taille button{
    font-size: 20px !important;

}




