body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    margin: 10px !important;
    color: lavenderblush;
}
.moving-steps {
    counter-reset: headings;
    list-style: none;
    position: relative;
}

.moving-steps > li:before {
    border: 1px solid indianred;
    border-radius: 50%;
    counter-increment: headings;
    content: counter(headings);
    display: block;
    color: lavenderblush !important;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
}

.moving-steps > li:after{
    content:' ';
    border-left:2px solid ;
    margin:0 1.5rem;
    height:100%;
}

.moving-steps > li:last-of-type:after {
    border: none;
}

.active:before{
    background-color: indianred !important;

}

.taille{
    display: none ;
}

.taille:first-child{
    display: flex ;
}

h1{
    font-size: 3rem;
    text-transform: capitalize;
}

.btn-outline-selected{
    border-color: indianred;
    text-transform: capitalize;
    font-size: 2rem !important;
    color: lavenderblush !important;
}

.btn-check:active+.btn-outline-selected, .btn-check:checked+.btn-outline-selected, .btn-outline-selected.active, .btn-outline-selected.dropdown-toggle.show, .btn-outline-selected:active
{
    background-color: indianred;
}

#nxtqst {
    background-color: lavenderblush;
    width: 100%;
    font-size: 20px !important;
    margin: 3rem auto;
}

